<div *ngIf="userStore.CurrentUser" class="chldr_entry_actions">
  <i *ngIf="userStore.CurrentUser!.CanEdit(translation.Rate, translation.UserId)" class="bi bi-pencil ms-2"
    (click)="editHandler()"></i>
  <span *ngIf="userStore.CurrentUser!.CanPromote(translation.Rate, translation.UserId)" class="chldr_translation_actions ms-lg-1">
    <i class="bi bi-check-lg" (click)="promoteHandler()"></i>
  </span>
  <i *ngIf="userStore.CurrentUser!.CanRemove(translation.Rate, translation.UserId, translation.CreatedAt)" class="bi bi-trash ms-2"
    (click)="removeHandler()"></i>
</div>