<div *ngIf="CurrentUser" class="chldr_entry_actions">
  <i *ngIf="CurrentUser.CanEdit(Translation.Rate, Translation.UserId)" class="bi bi-pencil ms-2"
    (click)="EditHandler()"></i>
  <span *ngIf="CurrentUser.CanPromote(Translation.Rate, Translation.UserId)" class="chldr_translation_actions ms-lg-1">
    <i class="bi bi-check-lg" (click)="PromoteHandler()"></i>
  </span>
  <i *ngIf="CurrentUser.CanRemove(Translation.Rate, Translation.UserId, Translation.CreatedAt)" class="bi bi-trash ms-2"
    (click)="RemoveHandler()"></i>
</div>