<div class="container">

    <div *ngIf="formSubmitted; else formTemplate">
        <app-email-sent></app-email-sent>
    </div>

    <ng-template #formTemplate>
        <div class="centered-container">
            <mat-card class="reset-password-card">
                <mat-card-header class="card-header">
                    <mat-icon>lock</mat-icon>
                    <mat-card-title>Forgot Password?</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>You can reset your password here.</p>
                    <form [formGroup]="resetPasswordForm" (ngSubmit)="validateAndSubmit()" class="reset-password-form">
                        <mat-form-field appearance="fill" class="email-field">
                            <mat-label>Email Address</mat-label>
                            <input matInput formControlName="email" type="email">
                            <mat-error *ngIf="email?.errors?.['required']">
                                Email is required.
                            </mat-error>
                            <mat-error *ngIf="email?.errors?.['email']">
                                Please enter a valid email.
                            </mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" type="submit" class="submit-button">
                            Reset Password
                        </button>
                    </form>
                    <app-form-errors [errorMessages]="errorMessages"></app-form-errors>
                </mat-card-content>
            </mat-card>
        </div>
    </ng-template>
</div>