<div class="search-container">
    <mat-form-field class="full-width" appearance="fill">
        <mat-label>{{ 'Start typing' }}</mat-label>
        <input matInput [(ngModel)]="searchQuery" (input)="search($event)" />
        <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
</div>

<div class="actions-container">
    <button mat-button color="primary" (click)="loadRandomEntries()">
        {{ 'Randoms' }}
    </button>

    <!-- <button mat-button color="primary" (click)="toggleOnModerationFlag()">
        {{ 'On moderation' }}
    </button>

    <button mat-button color="primary" (click)="loadLatestEntries()">
        {{ 'Latest' }}
    </button>

    <a *ngIf="isLoggedIn" mat-button color="accent" routerLink="/entry/edit">
        {{ 'AddAsk' }}
    </a> -->
</div>