h1 {
  padding: 0 1rem;
}

h2 {
  padding: 1rem;
}

mat-toolbar {
  position: fixed;
  top: 0;
  z-index: 2;
}

mat-sidenav-container {
  height: 100%;
}

// The sidebar expanded
.expanded {
  display: flex;
  width: 15vw;
  @media screen and (max-width: 700px) {
    width: 50vw;
  }
}

// The sidebar initial
mat-sidenav {
  display: none;
  padding-top: 3.5rem;
  @media screen and (min-width: 600px) {
    padding-top: 4rem;
  }
}

// The main content area
mat-sidenav-content {
  padding-top: 4rem;

  @media screen and (max-width: 700px) {
    padding-top: 3.5rem;
  }
}
