<mat-sidenav-container class="full-height">
    <mat-sidenav #sidenav mode="side" opened class="sidebar">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['/']">
                <mat-icon>home</mat-icon>
                Home
            </a>
            <a mat-list-item [routerLink]="['/index']">
                <mat-icon>text_fields</mat-icon>
                Index
            </a>
            <a mat-list-item [routerLink]="['/donate']">
                <mat-icon>attach_money</mat-icon>
                Donate
            </a>
            <hr class="separator">
            
            <!-- Simulated conditional rendering. Replace with actual logic. -->
            <ng-container *ngIf="isLoggedIn">
                <a mat-list-item [routerLink]="['/profile']">
                    <mat-icon>person</mat-icon>
                    Profile
                </a>
                <div class="email-display">
                    {{currentUserEmail}}
                </div>
            </ng-container>
            <ng-container *ngIf="!isLoggedIn">
                <a mat-list-item [routerLink]="['/login']">
                    <mat-icon>login</mat-icon>
                    Log in
                </a>
            </ng-container>
  
            <hr class="separator">
  
            <a mat-list-item [routerLink]="['/api']">
                API
            </a>
        </mat-nav-list>
    </mat-sidenav>
  
  </mat-sidenav-container>
  