<div class="card-container">
  <mat-card>
    <mat-card-content>
      <div data-id="form_container">
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select name="entryTypeSelect" class="full-width">
            <mat-option *ngFor="let entryType of entryTypes" [value]="entryType.value">{{entryType.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <textarea matInput [disabled]="!canEditEntry" placeholder="Enter Word" [(ngModel)]="content"></textarea>
        </mat-form-field>

        <button mat-raised-button color="accent" id="recordButton" (click)="toggleRecording()"
          [disabled]="!canAddPronunciation()">+ Pronunciation</button>

          <button mat-raised-button color="primary" type="button" (click)="newTranslation()">+ Translation</button>


        <!-- Rest of your form components -->

        <div class="button-container mt-3 mb-3">
          <button mat-stroked-button color="warn" (click)="cancel()">Cancel</button>
          <button mat-raised-button color="primary" (click)="save()">Save</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
