:host {
  flex: 1;

  .chldr_search_results {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 57px;
    overflow-y: auto;
  }

  .chldr_search {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 56px;
  }
}