<!-- Top controls -->
<div *ngIf="_entries && _entries.length > 0">
  <div class="letters">
    <button mat-button color="primary" 
      *ngFor="let letter of _letters"
      class="letter-button"
      (click)="letterSelectionHandler(letter)"
    >
      {{ letter }}
    </button>
  </div>

  <app-search-results></app-search-results>

  <div class="pager">
    <app-pager
      [currentPage]="_currentPage"
      [totalPages]="_totalPages"
      (selectedPage)="selectPage($event)"
    ></app-pager>
  </div>
</div>
