:host {
  flex: 1; // This means the main content will take up the remaining space
  padding: 4rem; // Padding for the main content

  .letter-button {
    padding: 2px 5px;
    margin: 1px;
    font-size: 12px;
    min-width: auto;
    min-height: auto;
  }

  .letters {
    text-align: center;
  }

  .pager {
    text-align: center;
    margin: 10px;
  }
}
