<!-- Top controls -->
<div *ngIf="_entries && _entries.length > 0" class="text-center">
  <div class="letters">
    <button
      *ngFor="let letter of _letters"
      class="letter-button"
      (click)="letterSelectionHandler(letter)"
    >
      {{ letter }}
    </button>
  </div>

  <div class="pager">
    <app-pager
      [currentPage]="_currentPage"
      [totalPages]="_totalPages"
      (selectedPage)="selectPage($event)"
    ></app-pager>
  </div>
</div>

<app-search-results></app-search-results>

<div *ngIf="_entries && _entries.length > 0" class="text-center">
  <div class="pager">
    <app-pager
      [currentPage]="_currentPage"
      [totalPages]="_totalPages"
      (selectedPage)="selectPage($event)"
    ></app-pager>

    <div class="letters">
      <button
        *ngFor="let letter of _letters"
        class="letter-button"
        (click)="letterSelectionHandler(letter)"
      >
        {{ letter }}
      </button>
    </div>
  </div>
</div>
<!-- Similar to top controls... -->

<div class="mb-4"></div>
