.full-width {
    width: 100%;
}

// Overall layout
.login-container {
    display: flex;
    justify-content: center;
    align-items: baseline;
    min-height: 100vh;
    background-color: #f4f4f4;
    padding: 20px;
}