<div class="centered-container">
    <mat-card class="centered-card">
      <mat-card-header class="text-center">
        <mat-card-title>{{ 'Set_new_password' }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="passwordForm" (ngSubmit)="validateAndSubmitAsync()" *ngIf="!formSubmitted; else passwordUpdated">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'Password' }}</mat-label>
            <input matInput type="password" formControlName="password" required>
          </mat-form-field>
            
          <br/>

          <mat-form-field appearance="outline">
            <mat-label>{{ 'Confirm password' }}</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
          </mat-form-field>
  
          <div class="d-grid">
            <button mat-raised-button color="primary" class="btn-block">{{ 'Update password' }}</button>
          </div>
        </form>
        <app-form-errors [errorMessages]="errorMessages"></app-form-errors>
      </mat-card-content>
    </mat-card>
  </div>
  
  <ng-template #passwordUpdated>
    <div class="centered-container">
      <mat-card>
        <mat-card-content class="alert-success">{{ 'Your password has been updated' }}</mat-card-content>
      </mat-card>
    </div>
  </ng-template>
  