.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

mat-form-field {
    width: 100%;
}

.centered-card {
    max-width: 500px;
    width: 100%;
}