/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.chldr_selected_entry * {
    background-color: #f2f2f2;
}

.chldr_selectable_entry {
    cursor: pointer;
}

    .chldr_selectable_entry :hover {
        background-color: #f1f1f1;
    }

.bi {
    color: darkblue;
}

.chldr_navbar_dropdown_option {
    cursor: pointer;
}

.chldr_navbar_dropdown {
    cursor: pointer;
}

.chldr_registration_errors {
    font-size: 16px;
}

.chldr_header {
    align-self: center;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: darkcyan;
}