:host {
  .chldr_entry {
    margin: 5px;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }

  .chldr_entry * :hover ~ .chldr_translation_actions {
    display: inline;
  }

  .chldr_entry * :hover ~ .chldr_entry_actions {
    display: inline;
  }

  .chldr_entry_header {
    font-size: 16px;
    font-weight: bold;
  }

  .chldr_entry_sub-header {
    color: brown;
    font-size: 10px;
    font-family: Arial;
  }

  .chldr_entry_translations {
  }

  .chldr_entry_actions {
    width: 100%;
    text-align: right;
    cursor: pointer;
    /*display: none;*/
  }
}
